# Force Unix line endings (LF) for all scripts to prevent execution errors on Linux
imageroot/actions/configure-module/20configure text eol=lf
imageroot/actions/configure-module/80start_services text eol=lf
imageroot/actions/get-configuration/20read text eol=lf
imageroot/actions/destroy-module/20destroy text eol=lf
imageroot/actions/create-module/20initialize text eol=lf
imageroot/update-module.d/10_restart text eol=lf
*.sh text eol=lf
